.idea/
.vs/
Temp/
Library/*
/*.csproj
Assets/**/*.csproj
*.sln
*.userprefs
*.dgml
*.sln.DotSettings.user
LocalAssets/*
Assets/Scripts/UnityEngine/
build/
Builds/
*.csproj.user
obj/

*.csproj.DotSettings
/Assets/StreamingAssets/aa/Android.meta
/Assets/StreamingAssets/aa.meta
ServerData/
/Assets/InitTestScene*
/Assets/AddressableAssetsData/**/addressables_content_state.*
/Assets/AddressableAssetsData/Android/*.meta
/Assets/AddressableAssetsData/Androidb/Development.*
/Assets/AddressableAssetsData/Windows/*.meta
/Assets/AddressableAssetsData/Windows/Development.*
ContentData
HostedData
Assets/AddressableAssetsData/OSX/Development.bin
Assets/AddressableAssetsData/OSX/Development.bin.meta
Logs/*
UserSettings/*
codegen/WeavedLibs

[Aa]ssets/GeneratedLocalRepo
[Aa]ssets/GeneratedLocalRepo.meta
Analytics/*.tsv
remote_config_data
TableStates/
.DS_Store
